<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link href="./bootstrap.min.css" rel="stylesheet" type="text/css" />

</head>
<body background="search restaurant2.jpeg"   style="background-size:100%;">


</div>
    <div class='welcome to'>
       <p style="z-index: 0;left: 0;top: 0;">
        <h1 align="center" style="background-color:transparent;color:white">Welcome to</h1>

        </p>
    <p style="z-index: 0;left: 0;top: 0;">
        <h2 align="center" style="background-color:transparent;color:white">-F3LS-</h2>
        </p>git
        <h3 align="center" style="background-color:transparent;color:white">Ready to be explored
        </h3>
  </div>


</body>
</html>