<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="./bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        div.pp {
            font-family:"Microsoft YaHei";
            font-weight:bold;
            margin-top:30px;
            font-size:16px;
        }
        div.p {
            font-family:"Microsoft YaHei";
            font-size:38px;
        }
    </style>
</head>
<body>
<div class="container-div">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <div class="row p"  style="width: 120px;text-align:center"><div style="text-align:center">F3LS</div></div>
            <div class="row text-center" style="width: 120px; font-size:8px;"><div style="text-align:center">Since 2022</div></div>
        </div>
        <div class="col-sm-2 pp">
            <div>Menu</div>
        </div>
        <div class="col-sm-2 pp">
            <div>Reservation</div>
        </div>
        <div class="col-sm-2 pp">
            <div>About us</div>
        </div>
        <div class="col-sm-2">
            <img src="img.jpg" style="margin-top: 10px; margin-bottom:10px; width:50px; height:50px; border-radius:200px;" alt="">
        </div>
    </div>
</div>
</body>
</html>